.första
{
    background-image: url(TopBild.webp);
    background-size: cover;
    display: flex;
    gap: 290px;
}
h1
{
    font-size: 48px;
}
.logga
{
    max-height: 100px;
}
.allt
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 250px 250px 100px 250px; 
    


    padding-left: 125px;
    padding-right: 125px;
    
    padding-top: 50px;
}
.infoText
{
    border: 10px solid #05DB1A;
    border-radius: 20px;
    margin-bottom: 30px;
    grid-row-start: 1;
    grid-row-end: 3;
}
.topBild
{
    
    background-image: url(TopBild.webp);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    min-height: 300px;
}
.pajBild
{ 
    max-width: 500px;
    margin-left: 150px;
}
h2
{
    text-align: center;
    font-size: 35px;
}
p
{
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
}
.ingredienser
{
    border: 10px solid #05DB1A;
    border-radius: 20px;
    

    grid-row-start: 3;
    grid-row-end: 5;
    
}
h3
{
    text-align: center;
}
.steg
{
    border: 10px solid #05DB1A;
    border-radius: 20px;
    margin-left: 150px;
    margin-top: 45px;
    grid-row-start: -4;
    grid-row-end: -1;
    
}
.servering
{
    border: 10px solid #05DB1A;
    border-radius: 20px;
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: -2;
    margin-top: 30px;
    
}
.bilder
{
    margin-left: 150px;
    display: flex;
    gap: 90px;
    margin-top: 30px;
}
.vispgräddebild, .pajbild2
{
    max-width: 200px;
}

.antonsmat
{
    max-width: 200px;
}

footer
{
    background-color: #05DB1A;
    margin-top: 30px;
    
}
.footer-bild
{
    display: flex;
    justify-content: right;
}
.footer-div
{
    display: flex;
    justify-content: center;
    gap: 850px;
    
}
