.första
{
    background-image: url(TopBild.webp);
    background-size: cover;
}
.logga
{
    max-height: 100px;
}
.allt
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 250px 250px 250px 100px; 
    


    padding-left: 125px;
    padding-right: 125px;
    
    padding-top: 50px;
}
.infoText
{
    border: 10px solid #05DB1A;
    border-radius: 20px;
    margin-bottom: 30px;
    grid-row-start: 1;
    grid-row-end: 3;
}
.topBild
{
    
    background-image: url(TopBild.webp);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    min-height: 300px;
}
.pajBild
{ 
    max-width: 500px;
    margin-left: 150px;
}
h2
{
    text-align: center;
    font-size: 35px;
}
p
{
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
}
.ingredienser
{
    border: 10px solid #05DB1A;
    border-radius: 20px;
    margin-bottom: 150px;

    grid-row-start: 3;
    grid-row-end: 6;
    
}
h3
{
    text-align: center;
}
.steg
{
    border: 10px solid #05DB1A;
    border-radius: 20px;
    margin-left: 150px;
    margin-top: 45px;
    grid-row-start: -4;
    grid-row-end: -1;
    
}